body {
  font-family: 'Cutive Mono', monospace;
  font-size: .75rem;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

.img-container {
  padding-left: .25rem;
  padding-right: .25rem;
  padding-bottom: 2.5rem;
}

/* Customized bootstrap */